* {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: calc(50% - 960px);
  padding-right: calc(50% - 960px);
}

.header {
  background-color: rgb(17, 10, 29);
}
.header__content {
  border: 4px solid rgb(71, 139, 249);
  border-radius: 64px 64px 64px 64px;
  width: 1640px;
  height: 96px;
  margin-left: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__buttons {
  display: flex;
  flex-direction: row;
  gap: 14px;
}
.header__button {
  background-color: rgb(17, 10, 29);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(157, 173, 242);
  border-radius: 24px;
  padding: 14px;
  font-family: Lexend;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 1s ease;
}
.header__button:hover {
  background-color: rgb(71, 139, 249);
  transition: all 1s ease;
}
.header__button__language {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
}
.header__button__globe-icon {
  color: #ffffff;
  display: block;
}

.header-nav {
  padding: 30px 191px 30px 526px;
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.header-nav__link {
  color: rgb(255, 255, 255);
  font-family: Lexend;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  transition: all 1s ease;
}
.header-nav__link:hover {
  text-decoration: underline;
  color: rgb(71, 139, 249);
  transition: all 1s ease;
}

.main {
  background-color: rgb(17, 10, 29);
  position: relative;
}

.main-content {
  width: 1920px;
  margin-left: 140px;
  display: flex;
  flex-direction: row;
}

.main-left {
  padding-top: 296px;
  width: 669px;
  z-index: 10;
}
.main-left__title {
  font-family: Lexend;
  font-size: 96px;
  font-weight: 500;
  line-height: 96px;
  text-align: left;
  color: rgb(71, 139, 249);
  padding-bottom: 24px;
}
.main-left__title-white {
  color: rgb(255, 255, 255);
}
.main-left__under-title {
  font-family: Lexend;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 48px;
}
.main-left__button {
  background-color: rgb(17, 10, 29);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(157, 173, 242);
  border-radius: 48px;
  padding: 20px 72px;
  font-family: Lexend;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 1s ease;
}
.main-left__button:hover {
  transition: all 1s ease;
  background-color: rgb(71, 139, 249);
}

.banner-icons {
  position: relative;
  overflow: hidden;
  width: 440px;
}
.banner-icons__flex {
  height: 1026px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding-left: 42px;
  padding-right: 64px;
}
.banner-icons__left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  filter: brightness(50%);
}
.banner-icons__right {
  display: flex;
  flex-direction: column;
  gap: 24px;
  filter: brightness(50%);
}
.banner-icons__center {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.banner-icons__left {
  animation: moveDown 15s linear infinite;
}

.banner-icons__right {
  animation: moveDown 15s linear infinite;
}

.banner-icons__center {
  animation: moveUp 15s linear infinite;
}

@keyframes moveDown {
  0% {
    transform: translateY(-120%);
  }
  100% {
    transform: translateY(120%);
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(120%);
  }
  100% {
    transform: translateY(-120%);
  }
}
.blog__title {
  padding-left: 208px;
  padding-top: 140px;
  padding-bottom: 24px;
  font-family: Lexend;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.blog__content {
  background-color: rgba(255, 255, 255, 0.12);
  width: 531px;
  height: 595px;
  border-radius: 100px 100px 100px 100px;
  border: 3px solid rgb(71, 139, 249);
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.blog__element {
  margin-left: 24px;
  background-color: rgb(30, 18, 49);
  width: 467px;
  height: 146px;
  border-radius: 196px 196px 196px 196px;
  cursor: pointer;
}
.blog__element:first-child {
  margin-top: 24px;
}
.blog__element:last-child {
  margin-bottom: 24px;
}
.blog__element:focus {
  background-color: rgb(71, 139, 249);
}
.blog__element-content {
  width: 339px;
  height: 114px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 16px 64px 16px 64px;
}
.blog__inscription {
  font-family: Lexend;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.blog__date {
  font-family: Futura PT;
  font-size: 14px;
  font-weight: 450;
  line-height: 16px;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  background-color: rgb(17, 10, 29);
}
.footer__content {
  background-color: rgb(30, 18, 49);
  width: 1912px;
  height: 130px;
  border-radius: 64px 64px 0px 0px;
  border: 4px solid rgb(71, 139, 249);
  border-bottom: none;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 24px;
}

.footer-left {
  padding-left: 140px;
}

.footer-right {
  padding-right: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 14px;
}
.footer-right__inscription {
  font-family: Lexend;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
  color: rgb(255, 255, 255);
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.footer-links__link {
  font-family: Lexend;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  transition: all 1s ease;
}
.footer-links__link:hover {
  text-decoration: underline;
  color: rgb(71, 139, 249);
  transition: all 1s ease;
}

.fa {
  color: rgb(17, 10, 29);
}

.footer-social-media {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.footer-social-media__element {
  position: relative;
  transition: all 0.5s ease;
}
.footer-social-media__element:hover {
  transition: all 0.5s ease;
  filter: brightness(150%);
}
.footer-social-media__flex {
  display: flex;
  justify-content: center;
}
.footer-social-media__logo {
  position: absolute;
  align-self: center;
  justify-self: center;
}

.bg-lights {
  max-width: 1920px;
  position: relative;
}

.bg-light {
  position: absolute;
  right: 0%;
  top: -50px;
  pointer-events: none;
}

.bg-light-oval {
  position: absolute;
  left: 0%;
  pointer-events: none;
}/*# sourceMappingURL=style.css.map */