* {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: calc(50% - 960px);
  padding-right: calc(50% - 960px);
}

.site-bg {
  background-color: #110a1d;
  width: 100%;
  height: 100%;
}

.header-mobile {
  display: none;
}

.header-mobile__menu {
  display: none;
}

.header {
  background-color: rgb(17, 10, 29);
}
.header__content-mobile {
  display: none;
}
.header__content {
  border: 4px solid rgb(71, 139, 249);
  border-radius: 64px 64px 64px 64px;
  width: 1640px;
  height: 96px;
  margin-left: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__buttons {
  display: flex;
  flex-direction: row;
  gap: 14px;
}
.header__button {
  background-color: rgb(17, 10, 29);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(157, 173, 242);
  border-radius: 24px;
  padding: 14px;
  font-family: Lexend;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 1s ease;
}
.header__button:hover {
  background-color: rgb(71, 139, 249);
  transition: all 1s ease;
}
.header__button__language {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
}
.header__button__globe-icon {
  color: #ffffff;
  display: block;
}

.header-nav {
  padding: 30px 191px 30px 526px;
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.header-nav__link {
  color: rgb(255, 255, 255);
  font-family: Lexend;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  transition: all 1s ease;
}
.header-nav__link:hover {
  text-decoration: underline;
  color: rgb(71, 139, 249);
  transition: all 1s ease;
}

.main {
  background-color: rgb(17, 10, 29);
  position: relative;
}

.main-content {
  width: 1780px;
  margin-left: 140px;
  display: flex;
  flex-direction: row;
}

.main-left {
  padding-top: 296px;
  width: 669px;
  z-index: 10;
}
.main-left__title {
  font-family: Lexend;
  font-size: 96px;
  font-weight: 500;
  line-height: 96px;
  text-align: left;
  color: rgb(71, 139, 249);
  padding-bottom: 24px;
}
.main-left__title-white {
  color: rgb(255, 255, 255);
}
.main-left__under-title {
  font-family: Lexend;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 48px;
}
.main-left__button {
  background-color: rgb(17, 10, 29);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(157, 173, 242);
  border-radius: 48px;
  padding: 20px 72px;
  font-family: Lexend;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 1s ease;
}
.main-left__button:hover {
  transition: all 1s ease;
  background-color: rgb(71, 139, 249);
}

.banner-icons-mobile {
  display: none;
}

.banner-icons {
  position: relative;
  overflow: hidden;
  width: 440px;
}
.banner-icons__flex {
  height: 1026px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding-left: 42px;
  padding-right: 64px;
}
.banner-icons__left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  filter: brightness(50%);
}
.banner-icons__right {
  display: flex;
  flex-direction: column;
  gap: 24px;
  filter: brightness(50%);
}
.banner-icons__center {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.banner-icons__left {
  animation: moveDown 15s linear infinite;
}

.banner-icons__right {
  animation: moveDown 15s linear infinite;
}

.banner-icons__center {
  animation: moveUp 15s linear infinite;
}

@keyframes moveDown {
  0% {
    transform: translateY(-120%);
  }
  100% {
    transform: translateY(120%);
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(120%);
  }
  100% {
    transform: translateY(-120%);
  }
}
.blog__title {
  padding-left: 208px;
  padding-top: 140px;
  padding-bottom: 24px;
  font-family: Lexend;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.blog__content {
  background-color: rgba(255, 255, 255, 0.12);
  width: 531px;
  height: 595px;
  border-radius: 100px 100px 100px 100px;
  border: 3px solid rgb(71, 139, 249);
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.blog__element {
  margin-left: 24px;
  background-color: rgb(30, 18, 49);
  width: 467px;
  height: 146px;
  border-radius: 196px 196px 196px 196px;
  cursor: pointer;
}
.blog__element:first-child {
  margin-top: 24px;
}
.blog__element:last-child {
  margin-bottom: 24px;
}
.blog__element:focus {
  background-color: rgb(71, 139, 249);
}
.blog__element-content {
  width: 339px;
  height: 114px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 16px 64px 16px 64px;
}
.blog__inscription {
  font-family: Lexend;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.blog__date {
  font-family: Futura PT;
  font-size: 14px;
  font-weight: 450;
  line-height: 16px;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  background-color: rgb(17, 10, 29);
}
.footer__content {
  background-color: rgb(30, 18, 49);
  width: 1912px;
  height: 130px;
  border-radius: 64px 64px 0px 0px;
  border: 4px solid rgb(71, 139, 249);
  border-bottom: none;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 24px;
}

.footer-left {
  padding-left: 140px;
}

.footer-right {
  padding-right: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 14px;
}
.footer-right__inscription {
  font-family: Lexend;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
  color: rgb(255, 255, 255);
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.footer-links__link {
  font-family: Lexend;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  transition: all 1s ease;
}
.footer-links__link:hover {
  text-decoration: underline;
  color: rgb(71, 139, 249);
  transition: all 1s ease;
}

.fa {
  color: rgb(17, 10, 29);
}

.footer-social-media {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.footer-social-media__element {
  position: relative;
  transition: all 0.5s ease;
}
.footer-social-media__element:hover {
  transition: all 0.5s ease;
  filter: brightness(150%);
}
.footer-social-media__flex {
  display: flex;
  justify-content: center;
}
.footer-social-media__logo {
  position: absolute;
  align-self: center;
  justify-self: center;
}

.bg-lights {
  width: 1920px;
  position: relative;
}

.bg-light {
  position: absolute;
  right: 0%;
  top: -50px;
  pointer-events: none;
}

.bg-light-oval {
  position: absolute;
  left: 0%;
  pointer-events: none;
}

.bg-light-mobile {
  display: none;
}

.bg-light-oval-mobile {
  display: none;
}

@media (max-width: 320px) {
  * {
    margin: 0 auto;
  }
  .site-bg {
    background-color: #110a1d;
    width: 320px;
    height: 100%;
  }
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .header {
    width: 300px;
    height: 56px;
    margin-top: 10px;
    border-radius: 64px;
    border: 2px solid rgb(71, 139, 249);
  }
  .header__content {
    display: none;
  }
  .header-mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    padding: 10px 14px 10px 210px;
  }
  .header-mobile__language-button {
    padding: 8px;
    border-radius: 24px;
    border: 2px solid #9dadf2;
    cursor: pointer;
  }
  .header-mobile__burger-button {
    padding: 4px;
  }
  .header-mobile__menu {
    display: block;
    transform: translateX(-150%);
    position: absolute;
    top: 90px;
    left: 0px;
    background-color: rgb(17, 10, 29);
    width: 100%;
    z-index: 100;
    transition: all 0.7s ease;
  }
  .header-mobile__menu.active {
    display: block;
    transform: translateX(0%);
    transition: all 0.7s ease;
  }
  .header-mobile__link {
    font-family: Lexend;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
    border: 2px solid #478bf9;
    padding-left: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-left: 10px;
    margin-right: 10px;
    width: 280px;
    gap: 8px;
    border-radius: 28px;
  }
  .header-mobile__nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: left;
    margin-bottom: 30px;
  }
  .header-mobile__buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: left;
    margin-bottom: 92px;
  }
  .header-mobile__button {
    width: 300px;
    background-color: #1e1231;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(157, 173, 242);
    border-radius: 24px;
    padding: 14px;
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .header-mobile__button:hover {
    background-color: #9dadf2;
    transition: all 0.5s ease;
  }
  .bg-lights {
    width: 320px;
    position: relative;
  }
  .bg-light-oval {
    display: none;
  }
  .bg-light {
    display: none;
  }
  .bg-light-mobile {
    display: block;
    position: absolute;
    top: 588px;
    pointer-events: none;
  }
  .bg-light-oval-mobile {
    display: block;
    position: absolute;
    top: 22px;
    pointer-events: none;
  }
  .main {
    padding: 0;
    margin: 0;
    width: 300px;
  }
  .main-content {
    padding-top: 70px;
    width: 320px;
    position: relative;
    margin-left: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-left {
    padding: 0px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  .main-left__title {
    font-family: Lexend;
    font-size: 46px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    color: rgb(71, 139, 249);
    padding-bottom: 24px;
  }
  .main-left__title-white {
    color: rgb(255, 255, 255);
  }
  .main-left__under-title {
    font-family: Lexend;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 48px;
  }
  .main-left__button {
    width: 300px;
    height: 53px;
    background-color: rgb(17, 10, 29);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(157, 173, 242);
    border-radius: 48px;
    padding: 15px 50px;
    font-family: Lexend;
    font-size: 18px;
    font-weight: 600;
    line-height: 22.5px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 1s ease;
  }
  .main-left__button:hover {
    transition: all 1s ease;
    background-color: rgb(71, 139, 249);
  }
  .banner-icons {
    display: none;
  }
  .banner-icons-mobile {
    margin-top: 32px;
    display: block;
  }
  .banner-icons-mobile__flex {
    width: 320px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }
  .banner-icons-mobile__img {
    height: 49px;
    width: 49px;
  }
  .banner-icons-mobile__top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
    animation: moveLeft 15s linear infinite;
    filter: brightness(50%);
  }
  .banner-icons-mobile__center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
    animation: moveRight 15s linear infinite;
  }
  .banner-icons-mobile__bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
    animation: moveLeft 15s linear infinite;
    filter: brightness(50%);
  }
  @keyframes moveLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  @keyframes moveRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .blog {
    margin-bottom: 70px;
  }
  .blog__title {
    padding-left: 114px;
    padding-top: 33px;
    padding-bottom: 18px;
    font-family: Lexend;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
  }
  .blog__content {
    background-color: rgba(255, 255, 255, 0.12);
    width: 300px;
    height: 421px;
    border-radius: 50px;
    border: 2px solid rgb(71, 139, 249);
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: scroll;
    scrollbar-width: none;
  }
  .blog__element {
    margin-left: 10px;
    background-color: rgb(30, 18, 49);
    width: 274px;
    height: 112px;
    border-radius: 40px;
    cursor: pointer;
  }
  .blog__element:first-child {
    margin-top: 8px;
  }
  .blog__element:last-child {
    margin-bottom: 8px;
  }
  .blog__element:focus {
    background-color: rgb(71, 139, 249);
  }
  .blog__element-content {
    width: 204px;
    height: 82px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 35px 15px 35px;
  }
  .blog__inscription {
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: rgb(255, 255, 255);
  }
  .blog__date {
    margin: 0px;
    font-family: Futura PT;
    font-size: 14px;
    font-weight: 450;
    line-height: 16px;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer {
    margin-top: 49px;
    width: 320px;
    display: flex;
    justify-content: flex-start;
  }
  .footer__content {
    width: 316px;
    height: 233px;
    border-radius: 50px 50px 0 0;
    border: 2px solid rgb(71, 139, 249);
    border-bottom: none;
    display: flex;
    flex-direction: column;
  }
  .footer__content {
    padding-bottom: 30px;
  }
  .footer-left {
    margin-left: 0;
    margin-top: 20px;
    padding-left: 18px;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2px;
  }
  .footer-links__link {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .footer-right {
    padding-right: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 14px;
  }
  .footer-right__inscription {
    margin-left: 0;
    padding-left: 18px;
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: rgb(255, 255, 255);
  }
  .footer-social-media {
    padding-left: 18px;
  }
  .footer-social-media__flex {
    width: 28px;
    height: 28px;
  }
}/*# sourceMappingURL=style.css.map */